 .u-section-1 {
  min-height: 806px;
}

.u-section-1 .u-shape-1 {
  height: 403px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-image-1 {
  width: 422px;
  height: 422px;
  background-image: url("images/10469292_915856691781376_2734351351055822918_o.jpg");
  background-position: 50% 50%;
  margin: -343px auto 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 3rem;
  width: 554px;
  margin: 60px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 20px auto 60px;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 724px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 931px;
}

.u-section-2 .u-shape-1 {
  height: 693px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -693px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 921px;
}

.u-section-2 .u-container-layout-1 {
  padding: 29px 0 30px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 300;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 26px 26px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 921px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 473px auto 0 0;
  padding: 10px 46px 10px 45px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 785px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 759px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-text-2 {
    width: 393px;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 759px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 553px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 687px;
  }

  .u-section-2 .u-shape-1 {
    height: 387px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -327px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.75rem;
  }

  .u-section-2 .u-text-2 {
    width: 335px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 435px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1680px;
  }

  .u-section-2 .u-shape-1 {
    height: 1127px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1067px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 628px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1218px;
  }

  .u-section-2 .u-shape-1 {
    height: 367px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -307px;
    margin-bottom: -402px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 414px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 962px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 220px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 11px;
}

.u-section-3 .u-text-1 {
  font-size: 6.25rem;
  font-weight: 300;
  margin: 0 19px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 685px;
}

.u-section-3 .u-container-layout-2 {
  padding: 8px 0;
}

.u-section-3 .u-text-2 {
  margin: 23px -559px 0 30px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 34px 384px 0 auto;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 685px;
}

.u-section-3 .u-container-layout-3 {
  padding: 8px 18px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 565px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 204px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 565px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 433px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 3248px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 2045px;
  }
}